<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST_CSS</title>
</head>
<body>
<h1>html_in_css</h1>
<a href="{{ url_for("html_in_css") }}">HTML IN CSS</a>
<h1>html_other_css</h1>
<a href="{{ url_for("html_other_css") }}">HTML OTHER CSS</a>
<h1>html_in_js</h1>
<a href="{{ url_for("html_in_js") }}">HTML IN CSS</a>
<h1>html_other_js</h1>
<a href="{{ url_for("html_other_js") }}">HTML OTHER CSS</a>
<h1>iframe</h1>
<a href="{{ url_for("iframe") }}">IFRAME</a>
<h1>redirect</h1>
<a href="{{ url_for("redirecto") }}">REDIRECT</a>
</body>
</html>